<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="maven">
<test thread-count="5" name="MobileApp">
<classes>

<class name="MobileApp.Launch"/>
<class name="MobileApp.Login"/>
<class name="MobileApp.Search"/>
<class name="MobileApp.contact"/>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->